<a href="https://colab.research.google.com/github/AnnaMariak08/AnnaMariak08/blob/main/27_12_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/Abejas prueba#1.xlsx')

In [6]:
print(df)

                      scientificName           identificationQualifier  \
0                  Nombre científico  Calificador de la identificación
1      Apis mellifera Linnaeus, 1758                               NaN
2      Apis mellifera Linnaeus, 1758                               NaN
3      Apis mellifera Linnaeus, 1758                               NaN
4      Apis mellifera Linnaeus, 1758                               NaN
..                               ...                               ...
210         Euglossa Latreille, 1802                               sp.
211  Partamona testacea (Klug, 1807)                               NaN
212  Partamona testacea (Klug, 1807)                               NaN
213  Partamona testacea (Klug, 1807)                               NaN
214         Ptiloglossa  Smith, 1853                               sp.

               taxonRank   kingdom      phylum    class        order  \
0    Categoría del taxón     Reino        Filo    Clase        Orden
1                especie  Animalia  Arthropoda  Insecta  Hymenoptera
2                especie  Animalia  Arthropoda  Insecta  Hymenoptera
3                especie  Animalia  Arthropoda  Insecta  Hymenoptera
4                especie  Animalia  Arthropoda  Insecta  Hymenoptera
..                   ...       ...         ...      ...          ...
210               género  Animalia  Arthropoda  Insecta  Hymenoptera
211              especie  Animalia  Arthropoda  Insecta  Hymenoptera
212              especie  Animalia  Arthropoda  Insecta  Hymenoptera
213              especie  Animalia  Arthropoda  Insecta  Hymenoptera
214               género  Animalia  Arthropoda  Insecta  Hymenoptera

         family        genus     specificEpithet     infraspecificEpithet  \
0       Familia       Género  Epíteto específico  Epíteto infraespecífico
1        Apidae         Apis           mellifera                      NaN
2        Apidae         Apis           mellifera                      NaN
3        Apidae         Apis           mellifera                      NaN
4        Apidae         Apis           mellifera                      NaN
..          ...          ...                 ...                      ...
210      Apidae     Euglossa                 NaN                      NaN
211      Apidae    Partamona            testacea                      NaN
212      Apidae    Partamona            testacea                      NaN
213      Apidae    Partamona            testacea                      NaN
214  Colletidae  Ptiloglossa                 NaN                      NaN

    vernacularName       individualCount  \
0     Nombre común  Número de individuos
1            Abeja                     1
2            Abeja                     1
3            Abeja                     1
4            Abeja                     1
..             ...                   ...
210          Abeja                     1
211          Abeja                     1
212          Abeja                     1
213          Abeja                     1
214          Abeja                     1

                                              locality  decimalLatitude  \
0                                            Localidad  Latitud decimal
1    Jardín Botánico Joaquín Antonio Uribe de Medellín         6.269166
2    Jardín Botánico Joaquín Antonio Uribe de Medellín         6.270417
3    Jardín Botánico Joaquín Antonio Uribe de Medellín         6.270417
4    Jardín Botánico Joaquín Antonio Uribe de Medellín         6.268998
..                                                 ...              ...
210  Jardín Botánico Joaquín Antonio Uribe de Medellín         6.268998
211  Jardín Botánico Joaquín Antonio Uribe de Medellín         6.268998
212  Jardín Botánico Joaquín Antonio Uribe de Medellín         6.269186
213  Jardín Botánico Joaquín Antonio Uribe de Medellín         6.272016
214  Jardín Botánico Joaquín Antonio Uribe de Medellín         6.270417

     decimalLongitude    geodeticDatum    minimumElevationInMeters  \
0    Longitud decimal  Datum geodésico  Elevación mínima en metros
1          -75.562521            WGS84                     1484.19
2          -75.563493            WGS84                     1482.72
3          -75.563493            WGS84                     1482.72
4          -75.562858            WGS84                     1458.29
..                ...              ...                         ...
210        -75.562858            WGS84                     1458.29
211        -75.562858            WGS84                     1458.29
212        -75.564193            WGS84                     1483.14
213         -75.56301            WGS84                      1480.3
214        -75.563493            WGS84                     1482.72

       maximumElevationInMeters
0    Elevación máxima en metros
1                       1484.19
2                       1482.72
3                       1482.72
4                       1458.29
..                          ...
210                     1458.29
211                     1458.29
212                     1483.14
213                      1480.3
214                     1482.72

[215 rows x 19 columns]

In [7]:
a= len(df)
b= type(df)
c = df.shape[0]
d= df.shape[1]

print(a, b, c, d)

215 <class 'pandas.core.frame.DataFrame'> 215 19